.view{
  margin: 10px 0px 0px 20px;

  .singleTravelLog{
    .detailsPart{
      border: 0.5px solid black
    }
    .commentsPart{
      .comments{
        margin-bottom: 0.5em;
        border: 0.5px solid black
      }
    }
  }
}